<div class="modal-container" >
    <div class="modal-header">
      <h5>Delete: {{title}} Program</h5>
      <button type="button" class="close" (click)="onCancel()">×</button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove this program? If yes, all data entered for this flow will be deleted.</p>
      <p class="warning">
        <span class="warning-icon">⚠️</span>
        <b>98</b> related tasks & attachments associated with this program will be deleted.
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      <button class="btn btn-danger" (click)="onDelete()">
        <i class="fa fa-trash"></i> Delete
      </button>
    </div>
  </div>